@page "/s&i/ats"
@layout MainLayout
@inherits SecurePageBase
@attribute [RequirePermission(6, 7)]

<PageTitle>WFS Talent Suite - Dashboard</PageTitle>

<MudContainer Class="pa-0">

    <div class="d-flex align-center mb-3" style="gap:12px; align-items:center;">
        <div>
            <MudText Typo="Typo.h5" Class="mb-0" Color="Color.Primary">WFS Talent Suite</MudText>
        </div>
        <MudImage Src="/images/generic/cibi-icon.png" Alt="logo" Style="width:48px; height:48px;" />
    </div>

    <ATSTabComponent ActiveTabChanged="ChangeActiveTab" />

     @if (_activeIndex == 0)
    {
        <ATSDashboardComponent/>
    }
    else if (_activeIndex == 1)
    {
        <DisputeOrderComponent/>
    }
    else if (_activeIndex == 2)
    {
        <NewOrderComponent/>
    }
    else if (_activeIndex == 3)
    {
        <SearchReportComponent />
    }
    else if (_activeIndex == 4)
    {
        <InvoiceComponent/>
    }

</MudContainer>

@code {
    private int _activeIndex = 0;

    private void ChangeActiveTab(int value)
    {
        _activeIndex = value;
    }
}