<div class="philsys-loader-overlay">
    <div class="philsys-loader-grid">
        <MudPaper Class="philsys-loader-paper" Elevation="12">
            <MudText Typo="Typo.h6" Class="mt-4 philsys-loader-text mb-4" Align="Align.Center">
                Verification Process Completed
            </MudText>
            <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Large" Class="mt-2 mb-2" />
        </MudPaper>
    </div>
</div>

