@layout GenericLayout

<div class="philsys-loader-overlay">
    <div class="philsys-loader-grid">
        <MudPaper Class="philsys-loader-paper" Elevation="12">
            <LoaderComponent />
            <MudText Typo="Typo.subtitle1" Class="mt-4 philsys-loader-text" Align="Align.Center">
                Processing Your Verification Result...
            </MudText>
        </MudPaper>
    </div>
</div>

