@layout PhilSysLayout
@page "/philsys/idv/liveness/{HashToken}"
@inject IJSRuntime JS
@inject IPhilSysService IPhilSysService

<PageTitle>Face Liveness Session</PageTitle>

<div class="philsys-liveness-container">

    @if (isTransacted)
    {
        <NotFoundComponent WebHookUrl="@webHookUrl"></NotFoundComponent>
    }
    else if (isExpired)
    {
        <ReTransactComponent WebHookUrl="@webHookUrl"></ReTransactComponent>
    }
    else if (!_completed)
    {
        <LivenessCheckComponent OnClick="StartLiveness"></LivenessCheckComponent>
    }
    else if (!string.IsNullOrEmpty(errorMessage))
    {
        <ErrorDialogComponent Message="@errorMessage"></ErrorDialogComponent>
    }
    else
    {
        <PageTitle>Verification Result</PageTitle>
        <PhilSysResultComponent VerificationResult="information" WebHookUrl="@webHookUrl"></PhilSysResultComponent>
    }

    @if (showLoader)
    {
        <PhilSysLoaderComponent></PhilSysLoaderComponent>
    }

</div>

@code {
    [Parameter] 
    public required string HashToken { get; set; }
    private UpdateFaceLivenessSessionResponseDTO? information;
    private TransactionStatusResponseDTO? _status;
    private bool _completed = false;
    private bool isTransacted  = false;
    private bool isExpired = false;
    private bool showLoader = false;
    private string? webHookUrl;
    private string? livenessKey;
    private string errorMessage = string.Empty;
    private DotNetObjectReference<PhilSysLiveness>? _dotNetRef;

    protected override async Task OnInitializedAsync()
    {
        _status = await IPhilSysService.GetTransactionStatusAsync(HashToken);

        if (!string.IsNullOrEmpty(_status.error_message))
        {
            isTransacted = false;
            isExpired = false;
            _completed = true;
            errorMessage = _status.error_message;
            Console.WriteLine($"❌ No transaction found for HashToken: {_status!.IsTransacted}");
            return;
        }

        webHookUrl = _status.WebHookUrl;
        isTransacted = _status.IsTransacted;
        isExpired = _status.isExpired;

        if (_status.isExpired)
        {
            await IPhilSysService.DeleteTransactionAsync(HashToken);
            return;
        }
    }

    private async Task StartLiveness()
    {
        _status = await IPhilSysService.GetTransactionStatusAsync(HashToken);

        if (!string.IsNullOrEmpty(_status.trace_id))
        {
            isTransacted = false;
            isExpired = false;
            _completed = true;
            errorMessage = _status.error_message!;
            Console.WriteLine("❌ No transaction found for this TID.");
            StateHasChanged();
            return;
        }

        if (_status.isExpired)
        {
            isExpired = true;
            await IPhilSysService.DeleteTransactionAsync(HashToken);
            StateHasChanged();
            return; 
        }

        if (_status.IsTransacted)
        {
            isTransacted = true;
            StateHasChanged();
            return;
        }

        livenessKey = await IPhilSysService.GetLivenessKeyAsync();

        if (string.IsNullOrEmpty(livenessKey))
        {
            _completed = true;
            errorMessage = "Liveness SDK is not configured. Please contact the administrator.";
            Console.WriteLine("❌ Failed to retrieve Liveness Key.");
            StateHasChanged();
            return;
        }

        _dotNetRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("startLivenessInterop", HashToken, _dotNetRef, livenessKey);
    }

    [JSInvokable]
    public async Task OnLivenessCompleted(string sessionId, string photo)
    {
        showLoader = true;
        StateHasChanged();

        byte[] photoBytes = Convert.FromBase64String(photo);

        information = await IPhilSysService.UpdateFaceLivenessSessionAsync(HashToken, sessionId, photoBytes);
        _completed = true;

        if (!string.IsNullOrEmpty(information.error_message))
        {
            errorMessage = information.error_message!;
        }

        showLoader = false;

        Console.WriteLine($"Successully Updated the session ID.");
        StateHasChanged();
    }

    public void Dispose() => _dotNetRef?.Dispose();
}
